In [28]:
from binance.client import Client

In [29]:
api_key = "oaC26VRtbUGCw4uLXukpPcwuOHjarI37psYKKwBUQXf1ysr4wewQGWgJbDzCiZnn"
api_secret = "gpQU2LK785lCoqPfDLAEdqT6ka2k2Y8P1gEiySa0zKHMVSFQmeWbdNyqC3rxQoX7"
client = Client(api_key, api_secret)

In [30]:
symbols = ['BTCUSDT', 'ETHUSDT']
interval = Client.KLINE_INTERVAL_1DAY

In [31]:
import pandas as pd
end_date = pd.Timestamp.today()
start_date = end_date - pd.Timedelta(days=2*365)

In [32]:
data = []

for symbol in symbols:
    klines = client.get_historical_klines(symbol, Client.KLINE_INTERVAL_1DAY, start_date.strftime("%d %b %Y"), end_date.strftime("%d %b %Y"))
    df = pd.DataFrame(klines, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore'])
    df = df[['timestamp', 'close']]
    df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')
    df.set_index('timestamp', inplace=True)
    df.columns = [symbol]
    data.append(df)

In [34]:
df = pd.concat(data, axis=1)

In [35]:
df

                   BTCUSDT        ETHUSDT
timestamp
2021-03-18  57648.16000000  1776.08000000
2021-03-19  58030.01000000  1809.10000000
2021-03-20  58102.28000000  1806.10000000
2021-03-21  57351.56000000  1782.98000000
2021-03-22  54083.25000000  1680.97000000
...                    ...            ...
2023-03-14  24670.41000000  1699.40000000
2023-03-15  24285.66000000  1649.96000000
2023-03-16  24998.78000000  1673.73000000
2023-03-17  27395.13000000  1789.27000000
2023-03-18  27360.85000000  1811.27000000

[731 rows x 2 columns]

In [36]:
df.to_csv('btc_eth_data.csv')

In [37]:
pd.read_csv('btc_eth_data.csv')

      timestamp   BTCUSDT  ETHUSDT
0    2021-03-18  57648.16  1776.08
1    2021-03-19  58030.01  1809.10
2    2021-03-20  58102.28  1806.10
3    2021-03-21  57351.56  1782.98
4    2021-03-22  54083.25  1680.97
..          ...       ...      ...
726  2023-03-14  24670.41  1699.40
727  2023-03-15  24285.66  1649.96
728  2023-03-16  24998.78  1673.73
729  2023-03-17  27395.13  1789.27
730  2023-03-18  27360.85  1811.27

[731 rows x 3 columns]